
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Leilao of My Heart</h1>
    <p>Um leilão online para você vender o que não precisa mais e comprar o que te faz falta</a>.</p>
</div>
