@model TF_PSA.PL.Leilao

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Leilao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFinal" class="control-label"></label>
                <input asp-for="DataFinal" class="form-control" />
                <span asp-validation-for="DataFinal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUsuarioResponsavel" class="control-label"></label>
                <input asp-for="IdUsuarioResponsavel" class="form-control" />
                <span asp-validation-for="IdUsuarioResponsavel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Categoria" class="control-label"></label>
                <select asp-for="Categoria" asp-items="Html.GetEnumSelectList<TF_PSA.PL.TipoLeilao>()" class="form-control"></select>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaDeLance" class="control-label"></label>
                <select asp-for="CategoriaDeLance" asp-items="Html.GetEnumSelectList<TF_PSA.PL.TipoLance>()" class="form-control"></select>
                <span asp-validation-for="CategoriaDeLance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
