@model IEnumerable<TF_PSA.PL.Lance>

@{
    ViewData["Title"] = "Lances";
}

<h1>Lances</h1>

    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item d-flex align-items-center align-content-center justify-content-between">
                <div class="d-flex align-items-center align-content-center">
                    <span class="badge badge-primary badge-pill mr-4">R$ @Html.DisplayFor(modelItem => item.Valor)</span>
                    <span class="font-weight-bold">@Html.DisplayFor(modelItem => item.EmailUsuario)</span> &ensp;em @Html.DisplayFor(modelItem => item.Data)
                </div>
                <a class="text-danger font-weight-bold" asp-action="Delete" asp-route-id="@item.LanceId">&times;</a>
            </li>
         }
    </ul>
